@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");


:root {

    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);

    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

.j-c {
    justify-content: center;
    align-items: center;
}

.j-s-b {
    justify-content: space-between;
    align-items: center;
}

.j-s-a {
    justify-content: space-around;
    align-items: center;
}

.f-c {
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

nav {
    position: relative;
    width: 100%;
    padding: 10px 0;
    background: var(--Very-Light-Gray);
}

nav > .container {
    width: 100%;
}

.logo {
    cursor: pointer;
}

.nav_btn {
    color: var(--Dark-Grayish-Violet);
    margin-right: 30px;
    padding: 10px;
    transition: all ease-in-out .35s;
}

.nav_btn:hover {
    color: var(--Very-Dark-Violet);
}

.call_btn {
    color: var(--Very-Dark-Violet);
    padding: 10px 26px;
    border: solid 2px var(--Very-Dark-Violet);
    transition: all ease-in-out .35s;
}

.call_btn:hover {
    color: white;
    background: var(--Very-Dark-Violet);
}

.call_btn:active {
    background: blueviolet;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
    border: solid 2px var(--Very-Dark-Violet);
    transition: ease-in-out .35s;
    transform-origin: 3px 1px;
}

.hamburger > span {
    display: block;
    height: 2px;
    width: 25px;
    background: var(--Very-Dark-Violet);
    transition: ease-in-out .35s;
    transform-origin: 3px 1px;
}

.hamburger > span:not(:last-child) {
    margin-bottom: 5px;
}

header.open nav .hamburger {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

header.open nav .hamburger > span:first-child {
    transform: rotate(45deg);
}

header.open nav .hamburger > span:nth-child(2) {
    opacity: 0;
}

header.open nav .hamburger > span:last-child {
    transform: rotate(-45deg);
}

.mobile_menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 9;
    min-height: 94%;
    width: 100%;
    background-color: var(--Very-Dark-Violet);
    background-image: url(images/bg-pattern-mobile-nav.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px 5%;
    justify-content: start;
    transition: ease-in-out .35s;
}

header.open .mobile_menu {
    visibility: visible;
    opacity: 1;
}

.m_btn {
    display: block;
    color: var(--Very-Light-Gray);
    padding: 10px;
    width: 80%;
    text-align: center;
    transition: ease-in-out .35s;
}

.m_btn:active {
    color: var(--Grayish-Blue);
}

.m_btn:not(:last-child) {
    margin-bottom: 12px;
}

.m_call_btn {
    padding: 10px 25px;
    border: solid 2px var(--Very-Light-Gray);
}

.m_call_btn:active {
    color: var(--Very-Dark-Violet);
    background: var(--Very-Light-Gray);
    border: solid 2px var(--Very-Dark-Violet);
}

/*hero*/

.hero {
    background: var(--Dark-Violet);
    color: white;
}

.pattern1 {
    position: absolute;
    right: 0;
    z-index: 4;
}

.pattern2 {
    position: absolute;
    left: 0;
    bottom: -200px;
    z-index: 3;
}

.hero > .container {
    padding: 100px 20px;
  
}

.line {
    display: block;
    height: 1px;
    width: 180px;
    background: white;
    margin-bottom: 60px;
}

h1 {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 30px;
}

.hero_content p {
    line-height: 20px;
    margin-bottom: 40px;
}

.main_btn {
    color: white;
    padding: 10px 26px;
    border: solid 2px white;
    transition: all ease-in-out .35s;
}

.main_btn:hover {
    color: var(--Very-Dark-Violet);
    background: white;
}

.hero_images {
    position: relative;
}

.hero_img {
    position: absolute;
    width: 90%;
    right: 0;
}

.hero_img_m {
    display: none;
}

.pattern1_m {
    display: none;
}

/* different*/

.different {
    padding-top: 280px;
    padding-bottom: 80px;
}

.diff_heading {
    margin-bottom: 50px;
}

.diff_heading > .line {
    background: var(--Very-Dark-Violet);
}

h2 {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 30px;
}

.card {
    padding: 20px;
}

.card > img {
    margin-bottom: 30px;
}

h4 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
}

/*call to*/

.call_to {
    margin-bottom: 100px;
}

.call_wrraper {
    width: 100%;
    background: var(--Dark-Violet);
    background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding: 60px;
}

.call_wrraper > h2 {
    width: 50%;
    color: white;
    margin-bottom: 0;
}

/*footer*/

footer {
    background: var(--Very-Light-Gray);
    padding: 70px 0;
    background-image: url(/images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
}

.fo_heading {
    margin-bottom: 35px;
}

.fo_line {
    width: 100%;
    height: 2px;
    margin-bottom: 30px;
    background: var(--Dark-Grayish-Violet);
    opacity: 0.5;
}

.social > a:not(:last-child) {
    margin-right: 18px;
}

.fo_wrraper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.fo_wrraper > .card {
    padding-left: 0;
}

h5 {
    text-transform: uppercase;
    text-align: left;
    color: var(--Dark-Grayish-Violet);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    margin-bottom: 45px;
}

.fo_btn {
    display: block;
    text-transform: uppercase;
    text-align: left;
    color: var(--Very-Dark-Violet);
    transition: ease-in-out .35s;
}

.fo_btn:hover {
    color: var(--Dark-Grayish-Violet);
}

.fo_btn:not(:last-child) {
    margin-bottom: 25px;
}


@media only screen and (max-width: 1139px) {

    .pattern1 {
        max-width: 350px;
    }

    .pattern2 {
        max-height: 350px;
        bottom: -20px;
    }
}

@media only screen and (max-width: 768px) {


    .nav_links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .hero > .container {
        padding: 0 0 50px 0;
    }

    .hero_content {
        order: 1;
        padding: 0 20px;
        text-align: center;
    }

    .hero_content > .line {
        display: none;
    }

    .hero_img {
        display: none;
    }

    .hero_img_m {
        display: block;
        width: 100%;
        order: 0;
    }

    .pattern1 {
        display: none;
    }

    .pattern2 {
        display: none;
    }


    .different {
        padding-top: 80px;
    }

    .card_wrraper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .diff_heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card:not(:last-child) {
        margin-bottom: 30px;
    }

    .call_wrraper {
        flex-direction: column;
        padding: 25px;
    }

    .call_wrraper > h2 {
        width: 100%;
        padding-bottom: 30px;
    }

    .fo_wrraper {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    
    }
}